/* Base Application Styles */
body {
  color: #fff;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
  color: blue
}

.index .download-btn {
  width: 250px;
  margin: 20px auto;
}
